node_modules

build
cache
artifacts
flattened
*.env
.secrets.js

scripts
artifacts/
artifacts/contracts/Config.sol/Config.json
cache/hardhat-network-fork/recommendations-already-shown.json
cache/validations.json
.openzeppelin/unknown-31337.json